.step{
    display: flex;
    align-items: center;
    gap: 10px;
}
.count{
    display: flex;
    align-items: center;
    gap: 10px;
}

.App{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}